= f.input :recipient_name, label: 'ชื่อผู้รับ'
= f.input :recipient_telephone_number, label: 'หมายเลขโทรศัพท์'
= f.input :address, label: 'ที่อยู่'
= f.input :district, label: 'ตำบล'
= f.input :city, label: 'อำเภอ'
= f.input :state, label: 'จังหวัด'
= f.input :postal_code, label: 'รหัสไปรษณี (5 หลัก)'
