= f.input :recipient_name, label: 'ชื่อผู้รับ (ขั้นต่ำ 4 ตัวอักษร)'
= f.input :recipient_telephone_number, label: 'หมายเลขโทรศัพท์ (ตัวเลขเท่านั้น ขั้นต่ำ 9 ตัวอักษร)'
= f.input :address, label: 'ที่อยู่ (ขั้นต่ำ 3 ตัวอักษร)'
= f.input :district, label: 'ตำบล (ขั้นต่ำ 3 ตัวอักษร)'
= f.input :city, label: 'อำเภอ (ขั้นต่ำ 3 ตัวอักษร)'
= f.input :state, label: 'จังหวัด (ขั้นต่ำ 3 ตัวอักษร)'
= f.input :postal_code, label: 'รหัสไปรษณี (5 หลัก)'
