table
  thead
    th
      span> Select
      = check_box_tag :select_all_row
    th Billing ID
    th ผู้รับ
    th เลข EMS
    th ผู้ขาย
    th ผู้สร้าง
    th ตรวจชำระเงินโดย
    th จัดส่งโดย
    th Operations
  tbody
  - if @orders.any?
    - @orders.each do |order|
      = render 'staffs/warehouses/shared/order_row', order: order
  - else
    tr
      td colspan="5"
        h5 ไม่มีข้อมูล
= form_tag(staffs_warehouses_pdf_address_renders_path, method: 'get', id: 'print_address_label_form') do
  #selected_order_for_print_address_ids
  = submit_tag 'พิมพ์ที่อยู่ผู้รับ', id: 'warehouse_print_address_labels_btn'
br
= render 'staffs/warehouses/shared/allocate_inventory_and_print_form' if current_page?(controller: 'orders', action: 'index')
= render 'staffs/warehouses/shared/print_billing_form' if controller_name.eql?('approved_shipping_orders') && action_name.eql?('index')
= paginate @orders
