= simple_form_for payment, url: action_path, method: method do |payment_form|
  = payment_form.input :pay_amount_reconciled, label: 'กรอกยอดโอนจริง', input_html: { min: 0, max: 999_999_999 }
  = payment_form.submit 'กระทบยอด'
