= form_tag(staffs_warehouses_inventory_movements_path, method: 'post') do
  #selected_order_for_print_stock_cutter_recipe_ids
  = submit_tag 'ตัดสินค้าและพิมพ์ใบตัดสินค้า', id: 'warehouse_print_stock_cutter_recipe_btn'
