= form_tag(staffs_warehouses_pdf_stock_render_path, method: 'get') do
  #selected_order_for_print_billing_receipt_recipe_ids
  = submit_tag 'พิมพ์ใบตัดสินค้า', id: 'warehouse_print_billing_receipt_btn'
