= simple_form_for payment, url: action_path, method: method do |payment_form|
  = payment_form.input :pay_amount_reconciled, required: true , label: 'กรอกยอดโอนจริง'
  = payment_form.button :submit, 'กระทบยอด'
